<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>{{isLoginMode ? 'Prijava' : 'Registracija'}}</h2>
    </div>
    <div class="col-xs-12 col-md-6 offset-md-3">
      <div class="alert alert-danger" *ngIf="error !== null">
        <p>{{error}}</p>
      </div>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" class="form-control" ngModel name="email" required email>
        </div>
        <div class="form-group">
          <label for="password">Lozinka</label>
          <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6">
        </div>
        <div>
          <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{ isLoginMode ? 'Prijavi se' : 'Registruj se'}}</button> |
          <button class="btn btn-primary" type="button" (click)="onSwitchMode()">Idi na {{isLoginMode ? 'registraciju' : 'prijavu'}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
