<!--<div class="container">-->
<!--  <div class="row border-dark">-->
    <div class="col-xs-12 col-md-6 offset-md-3 pb-3" id="pretraga">
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="kvadraturaOd">Kvadratura od:</label>
              <input class="form-control" type="number" id="kvadraturaOd">
            </div>
            <div class="form-group">
              <label for="kvadraturaDo">Kvadratura do:</label>
              <input class="form-control" type="number" id="kvadraturaDo">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="cenaOd">Cena od:</label>
              <input class="form-control" type="number" id="cenaOd">
            </div>
            <div class="form-group">
              <label for="cenaDo">Cena do:</label>
              <input class="form-control" type="number" id="cenaDo">
            </div>
          </div>
        </div>
        <button class="btn btn-dark btn-block">Pretrazi</button>
      </form>
    </div>
<!--  </div>-->
<!--</div>-->
