<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron">
      <div class="container">
        <div id="jumbo" class="text-center">
          <h1 class="display-4">Izdavanje nekretnina</h1>
          <p class="lead">Ukoliko zelite da prodate vasu nekretninu, ili da pronadjete zeljenu, na pravom ste mestu!</p>
          <hr class="my-4">
          <a class="btn btn-outline-dark btn-lg btn-block" routerLink="/nekretnine/new" role="button">Postavite oglas</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>


